.admin-card{
	border: 1px solid lighten($yellow, 30%);
	margin-bottom:20px;
}
.admin-card-title{
	background-color:$yellow;
	width: 100%;
	h1, h2{
		font-size:30px;
		font-weight:900;
		color:#fff;
	}
}
.admin-card-body{
	padding:10px;
	.buttons{
		font-size:11px;
	}

}
.admin-checkbox{
	input[type="checkbox"]{
		display:none;
	}
	label{
		font-size:11px;
	}
	input:checked + label {
		top: 2px;
		background: #666;
		border:none;
		border-top: 2px solid #444;
		&:hover{
			top:0px;
			border:none;
		}
	}
}