.switch{
	height:50px;
	width:auto;
}


//color-picker-reset
.hidden{
	display:none !important;
}
.wp-color-result{
	height:30px;
	top:auto;
	width:50px;
	left:-80px;
	padding-left:0;
	&:after{
		top:-15px;
		font-size:11px;
		left:50px;
	}
}
.wp-color-picker{
	margin-bottom:0;
}
.wp-picker-input-wrap{
position:relative;
	right:-100px;
}
.mm-textarea{
	width:100%;
	height:300px;
}